body {
  background-image: url('bg.png');
}

.centering {
  max-width: 100%;
}

.centering2 {
  max-width: 33%;
  height: auto;
  object-fit: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  margin-bottom: 3%;
}

.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:0px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:75%;
	height:75%;
    	margin: auto;
    	top: 50%;
    	left: 50%;
    	transform: translate(-50%, -50%);
}

.one {
  max-width: 100px;
  width: 50%;
  height: auto;
  object-fit: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.inline-block {
   display: inline-block;
   width: 7%;
   margin-left: 4%; 
   margin-right: 4%;
   max-width: 50%;
}

.figure {
	position: relative;
	width: 360px; /* can be omitted for a regular non-lazy image */
	max-width: 100%;
}
.figure img.image-hover {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	object-fit: contain;
	opacity: 0;
	transition: opacity .2s;
}
.figure:hover img.image-hover {
	opacity: 1;
}